@import url("common-css.css");

.brand-name {
    line-height: 1.6;
    font-weight: bold;
    letter-spacing: 2px;
}

.three-dot {
    cursor: pointer;
    font-weight: lighter;
    padding: 5px;
}

.three-dot:hover {
    background-color: var(--btn-hover-color);
    transition: 0.2s all;
    -webkit-transition: 0.2s all;
    -moz-transition: 0.2s all;
    -ms-transition: 0.2s all;
    -o-transition: 0.2s all;
}

.card-name {
    font-weight: 400;
    cursor: pointer;
}

.btn-icon {
    font-size: 2.0rem;
    font-weight: normal;
    color: var(--icon-color);
}

.btn-text {
    margin-top: 5px;
}

.item-text {
    flex-grow: 2;
}

.item {
    cursor: pointer !important;
    display: inline;
}

.item-actions {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.item-text {
    padding: 0 5px;
}

.item-actions .icon {
    font-size: 1.5rem;
}

.action {
    margin: 5px;
    padding: 5px;
    line-height: 1.0;
    flex-grow: 1;
    flex-basis: 100%;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.add-another-card {
    margin: 10px 20px;
}

@media (max-width: 600px) {
    .add-another-card {
        margin: 10px auto;
    }
}

.add-item-form {
    padding: 10px;
}

.btn-icons {
    font-size: 1.7rem !important;
    line-height: unset;
    padding: 10px 2px!important;
    background-color: var(--app-bg);
}

textarea {
    width: 100% !important;
    border: none;
    line-height: 1.5;    
    font-size: 1.5rem;
}

.text-field {
    margin: 10px 0;
}

.bg-blue {
    background-color: #1a304d !important;
    color: var(--app-bg) !important;
}

.text-red {
    color: red !important;
}

.btn-width-50 {
    width: 50%;
    font-size: 1.5rem !important;
}

.btn-width-25 {
    width: 25%;
    font-size: 1.5rem !important;
}

.text-center {
    text-align: center;
}

.text-blue {
    background-color: #1a304d !important;
}

.margin-x-8px {
    margin-left: 8px !important;
    margin-right: 8px !important; 
}